[2019-01-17 12:17] itscarlosrufo opened #9 "Query fields are not working"
Based on https://github.com/spacexland/api, whenever I'm trying to use any filter which is not an 'String', it's seems that it's being converted to that and it produces a type error as follow:

http://localhost:4000/rest/capsules?limit=1
Error: Variable "$limit" got invalid value "1"; Expected type Int; Int cannot represent non-integer value: "1"

String filters are not working neither

cc/ @kamil

[2019-01-17 18:56] #9 closed, assigned to nobody

[2019-01-20 12:00] itscarlosrufo opened #12 "Nested data not working!"
When fetching a list of capsules I don't wanna include all dragon's detail in the response, I want them to be just IDs (or links)

### To reproduce:
**Clone**: https://github.com/spacexland/api/tree/sofa-capsule-dragon
**Exec**: yarn && yarn dev
**Open**: http://localhost:4000/rest/capsules

### Behaviour:
The response capsule field should only contain capsule(dragon): id (here you can find it res

[2019-01-20 15:59] itscarlosrufo opened #13 "Swagger docs not generated properly for paths (/:id)"
### To Reproduce:
**Clone**: https://github.com/Urigo/SOFA/tree/swagger-docs
**Run**: yarn && yarn start
**Open**: http://localhost:4000/api and go to user/:id and execute the query

I've created a branch to test this issue, you could also see the changes here:
https://github.com/Urigo/SOFA/compare/swagger-docs

cc/ @kamilkisiela

[2019-01-21 08:39] #12 closed, assigned to nobody

[2019-01-21 09:57] #13 closed, assigned to nobody

[2019-01-29 03:25] lnmunhoz opened #21 "Maximum call stack size exceeded"
Hey Urigo,

First of all, thanks for this library. the concept is really cool, but...
I've just follow the simple configuration and tried to run, got this error:

[code]

This is the schema I am passing. It works fine with apollo-server:
[code]

And the full stack trace:
[code]

Let me know what else I can provide to help you.
Thank you!

[2019-02-07 20:00] birkir commented on #21
I have the same thing, only when using OpenAPI.

[code]

FYI: I have endless recursion in my schema, so something like this (totally valid of course)

[code]

[2019-02-08 03:42] lnmunhoz commented on #21
@birkir I do have recursion in my schema. But no, I've passed the same.
@Urigo I will to create a reproduction and update here soon 👍

[2019-02-13 16:27] birkir commented on #21
Here is my stack trace. It is definitely related to recursion of types.

My stacktrace:

[code]

[2019-02-14 06:55] verdverm commented on #21
I figured out a way to catch the issue, it's GraphQLNamedType cycle

here, put (https://github.com/Urigo/SOFA/blob/master/src/operation.ts#L142)
[code]

here, put (https://github.com/Urigo/SOFA/blob/master/src/operation.ts#L212)
[code]

[2019-02-14 09:30] verdverm commented on #21
getting closer, managed the recursion by memoizing types that had been seen, not recursing into another types field in the stack, and then unmemoizing as recursion unwinds. so...

[code]

In actuality, this stopping point could be limited to some maximum depth.

[2019-02-15 02:27] verdverm commented on #21
You can see the changes here: https://github.com/hofstadter-io/SOFA/pull/1

(note, the winston logger was removed because it was having issues with the format being undefined on import...)

[2019-02-18 07:53] kamilkisiela commented on #21
Okay, should be fixed by #23 - I published it as `0.2.3-alpha.0`, could you guys try it out?

[2019-02-18 15:15] birkir commented on #21
Works like a charm @kamilkisiela, thanks for the update!

I am shipping it with [prime](https://github.com/birkir/prime) this week!

[2019-02-18 16:31] Urigo commented on #21
thank everyone for such detailed bug report!

@birkir that is awesome!

[2019-02-19 06:28] verdverm commented on #21
@Urigo found another infinite recursion for `many-to-many` relations (and maybe some others):

edge case:
[code]

https://github.com/hofstadter-io/SOFA/pull/2/files#diff-2317c71e030318850aad89d8379c14cbR220

[2019-02-25 08:45] kamilkisiela commented on #21
@verdverm @Urigo The issue here is that if a type has only one field then we get:

[code]

If we want to omit the first circular reference then we get:

[code]

Since we can't execute such a query because of this empty block and all types has only one field then we should remove the first `b` and `a` too. Which leave us with an empty document.

I knew the limitation when I was fixing circular refe

[2019-02-25 18:25] verdverm commented on #21
@kamilkisiela can you try my fork https://github.com/hofstadter-io/SOFA https://www.npmjs.com/package/@hofstadter-io/sofa-api

`"@hofstadter-io/sofa-api": "^0.3.1"`

the code is different, and has more/different fixes that were discovered after the initial changes.

WRT your last question, I think the changes here are missing the case to deal with sarrays, it's not actually changing the array into

[2019-03-08 12:37] sandeepkhan opened #27 "queries not executing"
hi,

i tried integrating sofa api my current set of schema.

whenever i try to hit the /api routes, it throws me this error. Is there a docs where i can find how i can query ?

Error: Field "node" of type "Node" must have a selection of subfields. Did you mean "node { ... }"?

GraphQL request (4:5)
3:     nodeId
4:     node(nodeId: $queryNodeNodeId)
       ^
5:   }

    at /Users/sandeep/Documents

[2019-04-05 22:30] tibawatanabe opened #28 "Object Types as Query Arg is not parsed correctly"
I'm trying to pass an objetc as a query parameters:

[code]

I'm unable to consume the endpoint because Sofa is not parsing the query params correctly.

When executing, the query is receiving `{ pageInfo: '{ "limit": 5 }' }` instead of `{ pageInfo: { limit: 5 } }` causing the following error:

[code]

I'm not sure if this is related but the swagger points the following error as well:

[code]

And

[2019-04-19 07:49] #28 closed

[2019-04-19 07:57] kamilkisiela commented on #28
Fix released in `v0.3.0`

[2019-04-19 08:00] kamilkisiela commented on #21
@verdverm our logic does the same, `getNamedType()` resolves with a named type, so it doesn't matter if it's list or a nullable node.

I also added `depthLimit` option (set to `1` by default) which enables to "cut off" the circular reference at `n` level deep.

I checked your code and the only difference is that you're passing `res` object into the context, which is something that could be done he

[2019-04-19 08:00] kamilkisiela commented on #27
@sandeepkumardev could you share a minimal schema? Something I could try it out and test?

[2019-04-19 08:03] kamilkisiela commented on #21
Actually, we pass `res` too

[2019-05-13 20:56] samosbor opened #32 "Authorization on REST endponts"
Is there any way to add authorization to the REST endpoints generated by my graphql queries?

[2019-05-17 10:40] valerio-battaglia opened #33 "Return errors as JSON"
How can I setup Sofa so that when my queries `throw`s error they are formatted as `JSON` instead of `HTML`?

[2019-05-17 10:41] valerio-battaglia commented on #32
Here you go https://blog.pusher.com/handling-authentication-in-graphql/

[2019-05-29 17:40] hajnalben commented on #28
Maybe the queries with input type parameter (which is technically an object) could be generated as POST methods? It would make more sense than passing an object in query.

[2019-05-31 19:26] Urigo commented on #33
Can you create a small repo that does that, maybe with a test?
I can work on that then

[2019-05-31 19:26] Urigo commented on #32
Any reason why the existing authentication of the GraphQL endpoint won't be enough?

[2019-06-03 06:46] valerio-battaglia commented on #33
Here you can find the code: https://typegraphql.ml/docs/authorization.html#recipes
The problem is that if JWT throws any error, SOFA would spit out an HTML file instead of a JSON.

[2019-06-08 01:39] aaronhayes opened #36 "Request variables not passed to GraphQL mutation"
I cannot seem to get mutations working; request variables are always null. See the example below.

[code]
[code]
In the example above, both `title` and `author` are always null when using the sofa rest api.

[Full Repeatable Example Repo](https://github.com/aaronhayes/graphql-rest-typescript-example)

[2019-06-13 18:56] oalcantar commented on #36
I'm getting the same error too, @aaronhayes did you found a solution to this issue?

[2019-06-13 23:11] aaronhayes commented on #36
@oalcantar not yet. I haven' dug into SOFA's code which is where I believe the bug lives.

[2019-06-14 14:10] oalcantar commented on #36
looking into the SOFA's code example I realized that they use the package `body-parser`, the `body-parse` is applied to express like this:

`app.use(bodyParser.json());`

I applied this changes in my code and now it works, I hope this works for you too

SOFA's code example
https://github.com/Urigo/SOFA/blob/master/example/index.ts#L19

@aaronhayes

[2019-06-14 14:43] antitoine commented on #33
Same problem for me. I was wondering if it would not be possible to rewrite the execution function ('execute' option when creating sofa router, adding a simple try/catch), but we have no way to call back the initial sofa execution function.

[2019-06-14 22:39] mundane140 commented on #21
Hi,
I want to use SOFA to generate a rest API. What kind of things should I avoid when putting together a schema inorder to circumvent this issue?
I would totally understand if you feel I am off topic, but I don't know where else to go and I certainly don't want a "Maximum call stack size exceeded".

[2019-06-15 05:31] aaronhayes commented on #36
Yep that's the solution.

[2019-06-15 05:31] #36 closed

[2019-06-17 14:25] ralonsokichink opened #37 "TypeError: sofa is not a function at Object.<anonymous>"

[2019-06-17 14:48] #37 closed

[2019-06-17 14:53] vesvello opened #38 "TypeError: sofa is not a function at Object.<anonymous>"
Im trying to implement sofa.

This is so far what I have:
[code]

I get as response:
[code]

Any help on this?

Thanks in advance

[2019-06-20 16:40] oalcantar commented on #38
Hi, instead of this code

[code]

try this code

[code]

I hope this the helps you

[2019-07-03 02:08] ans-4175 opened #41 "Resolvers function name camelCase not recognized in REST route"
## Summary

We want to use function `camelCase` in resolvers Query or Mutation.
Then access it through REST by `api/camelcase`

## Motivation

Naming function would be intuitively using camelCase, but REST API are case insensitive so it should be handled when router creation

## Drawbacks

Is there will be handling for duplicate routes?

## Alternatives

N/A

## Unresolved questions

N/A

[2019-07-05 19:12] ans-4175 commented on #41
After all it was just misunderstanding @Urigo
I just knew camelCase fieldName changed to kebab-case on route creation `getPath`

So I try to make it explicitly explained on README and test spec

[2019-07-05 19:50] #41 closed

[2019-07-10 06:01] ardatan commented on #38
This doesn't look like an issue, but it looks like a confusion between CommonJS and ESM.

[2019-07-10 06:01] #38 closed

[2019-07-10 06:27] ardatan commented on #32
Authentication can be done in GraphQL Side using context. See our examples and blog post related to this scenerio.
https://medium.com/the-guild/authentication-and-authorization-in-graphql-and-how-graphql-modules-can-help-fadc1ee5b0c2

[2019-07-10 06:27] #32 closed

[2019-07-10 16:40] ardatan commented on #27
Closing this issue now. If the problem persists, feel free to open a new one.

[2019-07-10 16:40] #27 closed

[2019-07-10 16:41] #21 closed

[2019-07-17 16:28] vesvello opened #47 "Unknown type Upload"
I got this error when i try to implement sofa:

(GrapdhQL has a upload function)

Error: Unknown type "Upload". Did you mean "Float"?
    at assertValidSDL (/node_modules/graphql/validation/validate.js:80:11)
    at Object.buildASTSchema (/node_modules/graphql/utilities/buildASTSchema.js:69:34)
    at Object.buildSchemaFromTypeDefinitions (/node_modules/graphql-tools/dist/generate/buildSchemaFromT

[2019-07-17 18:21] aaronleesmith opened #48 "Plan to support Apollo federation"
Can Sofa-api be used out of the box with Apollo federation? I would like to try this out without using schema stitching (which is deprecated) and would love to know the thoughts of the library authors.

[2019-07-17 20:51] ardatan commented on #47
`Upload` is not part of GraphQL, it is a custom scalar. You can define `Upload` scalar by yourself inside the schema,

[2019-07-17 20:51] #47 closed

[2019-07-17 21:15] ardatan commented on #48
SOFA is independent from any framework and library. You only need to provide a valid `GraphQLSchema`.
https://github.com/apollographql/federation-demo/blob/00f5119040e1b0ffba5adf220a585a7b83b1fbd4/gateway.js#L14
As you can see here in Apollo's example, we also need custom execution phase as documented here;
https://sofa-api.com/docs/api/execute

So if we combine these two;
[code]

We can use SOFA

[2019-07-17 21:15] #48 closed

[2019-07-18 06:28] kamilkisiela commented on #33
Related #44 #45

[2019-07-18 06:45] kamilkisiela commented on #33
Released as [`v0.4.0`](https://github.com/Urigo/SOFA/releases/tag/v0.4.0)

[2019-07-18 06:45] kamilkisiela commented on #33
Closing but let us know if there's still an issue

[2019-07-18 06:45] #33 closed

[2019-07-18 07:18] MohGanji opened #50 "Handling Connections and pagination"
I replied to the medium post about SOFA and @kamilkisiela asked me to open an issue here with an example.

Right now graphql uses connections for pagination, i.e. a type with arguments like`before`, `after`, `first` and `last` to determine what page you want to fetch from a long list of items.

[graphql-relay](https://github.com/graphql/graphql-relay-js) provides these connections in a simple way

[2019-07-18 14:16] jbmusso opened #51 "Overriding path to support multiple methods on the same /resource"
Thanks for creating this library, very nice idea!

I'm trying to support both `GET` and `HEAD` for the same resource, for example `"foobar"`, mounted on `/foobar` path. The v0.4.0 release with HTTP method customization comes in handy.

I'm trying to expose the following HTTP routes:
* use `HEAD /foobar`, semantically, to check for existence/absence of a given resource, and return respectively code

[2019-07-20 16:26] kleydon opened #52 "Question re: Apollo / GraphQL-Yoga"
Hi,

I'm an interaction designer ramping up on modern web development approaches, and Sofa struck me as mind-bogglingly useful. Thanks for unleashing this upon the world!
(Additionally - my girlfriend and I both love the project's website.)

One thing I'm struggling with, as a relative newbie, is how to use Sofa with servers that may _implicitly_ or _currently_ be based on express, but are not _in

[2019-07-21 17:35] Urigo commented on #52
@kleydon can you publish your try?  would be easier to understand where the error might be

[2019-07-21 21:21] kleydon commented on #52
Sure @Urigo  - thanks.

My server code is below; my repo (based on alan345's "naperg"), is posted at https://github.com/kleydon/naperg-sofa-test, in the server directory.

Sofa's documentation presumes an express-based server, but I'm working with GraphGL-Yoga (Apollo-based) server. My understanding is that Apollo _can_ be (and by default is) express-based, but that it doesn't _have to_ be - so I'

[2019-07-23 15:17] kleydon commented on #52
@Urigo Never-mind; figured it out. Wasn't using context properly...

[code]

[2019-07-23 15:17] #52 closed

[2019-07-23 19:55] Urigo commented on #52
thanks for the working example!

[2019-07-24 15:55] wtrocki opened #54 "Scalars as return types"
I have made quick sample app that uses following schema:

[code]

however this doesn't seem to be exposing api/test endpoint.
Getting 404.

Maybe it is worth to mention that API does not support Scalars as return types as they cannot be put into json.

[2019-07-29 11:03] wtrocki commented on #50
I'm very biased here but I think GraphQL.js/Apollo is missing Pagination abstraction for GraphQL - if that will be there then Sofa might simply adapt it properly for the REST standard. As long as Sofa works with some of the pagination standards like one in https://www.tortilla.academy/Urigo/WhatsApp-Clone-Tutorial/master/next/step/0 it

[2019-07-30 12:26] abhijeet1403 opened #56 "Customize endpoint's HTTP Method does not reflects in openAPI."
Since open API is generated out of schema, no custom sofa api config is used.
Ideally the same config should be passed to both openAPI and sofa

[code]

[2019-07-30 12:29] #56 closed

[2019-07-30 13:13] Urigo commented on #50
@MohGanji I'm not sure what is the issue here...
If you create a GraphQL API, add grpahql-relay to it and generate REST api using SOFA, what are you missing?
can you create a reproduction?
Thanks

[2019-07-30 13:22] Urigo commented on #51
Adding the option to do that doesn't seem like a big change,
maybe you can give it a try with a PR?
also show an example of how you imagine the API to look

thanks

[2019-07-30 15:59] kamilkisiela commented on #54
I think it does and here's the proof #57. Could you maybe share more and if it doesn't work for you, maybe create a reproduction?

[2019-07-30 16:02] wtrocki commented on #54
@kamilkisiela My bad. My application expected JSON output were in fact returned body simply string.

[2019-07-31 08:06] #54 closed

[2019-08-05 12:15] DurandMathieu opened #58 "Integrating SOFA with Apollo"
Hi,

I'm trying to integrate SOFA with a simple ApolloServer. I saw issue #52 which seems similar, but the linked repository is not available anymore. I was able to create a basic setup with Swagger using the example from SOFA, and both my swagger-ui and Graphql Playground are working.

If I understand correctly, the SOFA implementation doesn't make a call to my ApolloServer, but instead it create

[2019-08-05 17:13] ardatan commented on #58
You can use `context` field to pass `dataSources` like below;
[code]
Isn't this working?

[2019-08-05 17:44] DurandMathieu commented on #58
The problem is that the data sources are initialized by apollo (each datasource has an initialize method which is called by the apollo request handler). Doing it the way you propose would create the datasources without initializing them. Like I said, I could probably initialize them manually looking at the apollo code and doing the same thing, but bypassing Apollo completely doesn't seem like a go

[2019-08-05 18:30] ardatan commented on #58
@DurandMathieu If you want to initialize them as same as Apollo does;
[code]
@kamilkisiela We can add this to recipes. What do you think?

[2019-08-06 11:33] DurandMathieu commented on #58
I'm ok with your solution. My only concern is that we reuse internal configuration and behavior from the ApolloServer, which means that if for some reason they change something in the future, upgrading version might break my implementation. But since it's a very small bit of code, it's not that big of a deal.

Here is a small fix to your code, for anyone searching for the same solution. The dataSo

[2019-08-13 14:05] Sagar505 opened #59 "mapping generated api to graphql resolver"
Below is the graphql schema -
[code]
Sofa generated the Rest API as api/roll-dice and not api/rolldice ? Why ?
The API generated by Sofa did not map to grapghQL resolver function rolldice. How to make Sofa generated API to call graphql resolver function when the api/rolldice is called ?

[2019-08-13 14:24] Sagar505 opened #60 "swagger.yml generated by openAPI displays error in swagger editor"
For API documentation, swagger.yml file is generated using below function -
[code]
The YAML file generated, when loaded in swagger editor displays error  as below -
[code]
The same error is displayed for yaml at https://raw.githubusercontent.com/DurandMathieu/demo-graphql-rest/master/swagger.yml

How to generate yaml file with no error ?

[2019-08-13 16:36] ardatan commented on #59
You can change `rollDice` to `rolldice` in GraphQL Schema.

[2019-08-21 00:36] ardatan commented on #59
Please feel free to open a new issue if the problem persists.

[2019-08-21 00:36] #59 closed

[2019-08-26 20:41] tatianafrank opened #67 "Rest nullable argument passes 0 instead of null when left out of request"
I have a graphql query resolver that accepts nullable arguments. One of those arguments is of type int and when I make a rest call to the endpoint without that argument, it passes 0 instead of null.

[2019-08-28 17:58] sergeyfilimonov opened #100 "Integrating SOFA with Apollo, again"
SOFA looks very promising! But I can't integrate it with Apollo in my project. There are a few issues on integrating SOFA with Apollo but I didn't find a solution for my case.

[code]

What is the way to add sofa here? Thank you!

[2019-08-29 11:56] ZempTime opened #101 "Koa Support"
Hey! I've just stumbled across this project, and I'm extremely interested. I was curious if there was any intent or pathways to support usage in [Koa](https://koajs.com/).

Of note is [koa-connect](https://github.com/vkurchatkin/koa-connect).

[2019-09-03 03:55] ardatan commented on #100
Apollo handles GraphQL Schema so does SOFA. There is nothing to integrate between each other but you can expose two different APIs in different endpoints like below;

[code]

[2019-09-03 03:55] #100 closed

[2019-09-03 03:55] ardatan commented on #101
@ZempTime Doesn't `koa-connect` work with SOFA and Koa?

[2019-09-03 04:32] #58 closed

[2019-09-03 04:44] ardatan commented on #67
@tatianafrank Could you share a reproduction?
I tried to reproduce it but it works well
https://github.com/ardatan/sofa-nullable-repro

[2019-09-03 04:48] ardatan commented on #60
@Sagar505 When I run your project locally, I don't see any errors. Also I didn't see any errors in the swagger file you sent. Does the error persist?

[2019-09-03 21:54] tatianafrank commented on #67
@ardatan thanks for looking into this! Since you weren't able to reproduce I did some more digging and found the cause of the issue and it's not an issue with Sofa so I will close the ticket.

[2019-09-03 21:54] #67 closed

[2019-09-05 13:16] Sagar505 commented on #60
If the yaml generated is pasted in online swagger editor, error is displayed. Please paste the yaml file at https://editor.swagger.io/?_ga=2.212505746.701919280.1567689315-783988197.1562674380

[2019-09-05 20:57] tatianafrank opened #106 "Generate descriptions for parameters in swagger"
Im generating swagger docs form my graphql schema but Im unsure how to add descriptions to request parameters in swagger via the graphql schema. I know how I would add the descriptions if I were adding them directly to swagger.yml but since Im auto-generating the swagger.yml using sofa/open api I need to add the descriptions into the graphql schema somehow. I tried using doc strings in the typedeg

[2019-09-10 07:41] kamilkisiela commented on #106
[`v0.5.0`](https://github.com/Urigo/SOFA/releases/tag/v0.5.0)

[2019-09-10 07:41] kamilkisiela commented on #60
[`v0.5.0`](https://github.com/Urigo/SOFA/releases/tag/v0.5.0)

[2019-09-10 07:41] #60 closed

[2019-09-10 07:41] #106 closed

[2019-09-11 06:53] Purus commented on #52
Can you please share that working version of your repo with Graphql-Yoga?

[2019-09-11 15:30] kleydon commented on #52
Hi @Purus ,

Here are the key bits (below).

Adding the request to context was the thing I struggled with. Its also worth noting that there is a `request` in the `request` (`request.request`), which SOFA/OpenAPI calls `req` instead (`request.req`).

[code]

[2019-09-23 09:43] wtrocki opened #129 "After updating sofa to 0.5.0 npm install failing"
Not sure if that this is something with my env but..:

Steps to reproduce.

1. Add release to package json
2. npm install (finishes ok)
2. npm install again:

[code]

[2019-09-25 09:59] Pruxis commented on #51
@Urigo I have the same use case for work, and was wondering what the desired approach would be. Configuration for queries / mutations their path in the sofa middleware or utilising directives?

[2019-09-26 04:09] lukeandersen commented on #129
I had the same issue, seems the latest package on npm has a git directory in it. Try `rm -rf node_modules/sofa-api/.git` and that will fix it for now.

[2019-09-26 08:27] wtrocki commented on #129
Yes. I have added postinstall script to do it.

[2019-09-28 22:28] thakursachin467 opened #139 "conditions for checking edge case values in an object"
Edge case where object values might be a Boolean or 0 which were being ignored because of the way conditions are written for checking object values.

[2019-09-30 16:15] tatianafrank opened #141 "How do I add headers to my response?"
Maybe this is obvious but where should I add custom headers to my response for a given endpoint?

[2019-09-30 16:24] ardatan commented on #141
It depends on what you're trying to do. Could you explain more about your case?

[2019-09-30 16:26] tatianafrank commented on #141
Im trying to set the "Access-Control-Allow-Origin" header on the response.

[2019-09-30 16:26] ardatan commented on #141
You can write your own middleware or use `cors` npm package;
https://github.com/expressjs/cors

[2019-09-30 16:26] #141 closed

[2019-09-30 17:36] tatianafrank commented on #141
Thanks for your quick replies! My question isnt abut cors but where I can add the logic.
My code looks like this:
app.use(
    '/rest',
    useSofa({
      schema,
      onRoute(info) {
        openApi.addRoute(info, {
          basePath: '/rest',
        });
      },
    })

Where in that code  could I add the logic/middlewear for headers?

[2019-09-30 17:47] tatianafrank opened #142 "How do I add headers to my response?"
Since you closed my last ticket unexpectedly... Pasting my last response here:
Thanks for your quick replies! My question isnt abut cors but where I can add the logic.
My code looks like this:

[code]
Where in that code could I add the logic/middlewear for headers?

[2019-09-30 18:24] tatianafrank commented on #142
Once again, Im not asking how to add headers in general. Im asking how to add headers if im using the "useSofa" middlewear.

[2019-09-30 19:03] tatianafrank commented on #141
Figured it out:
[code]

[2019-09-30 19:03] #142 closed

[2019-10-01 10:07] #129 closed

[2019-10-01 10:07] #139 closed

[2019-10-01 10:08] kamilkisiela commented on #129
`v0.5.1`

[2019-10-02 16:08] evdhiggins opened #146 "Add support for Interface types?"
## Summary
Currently it seems that SOFA is unable to support interfaces

### Example
[code]
## Expected Behavior
`GET http://localhost:4000/foo` would return one of the following:
- The fields defined in `IFoo` (`{ id: 1 }`)
- The complete `Foo` object (`{ id: 1, name: 'string' }`)

## Actual Behavior
`GET http://localhost:4000/foo` returns the following error:

[2019-10-02 17:58] tatianafrank opened #147 "Generate descriptions for GraphQL parameters in swagger"
Using sofa-api@0.5.1 and still unable to add descriptions in swagger docs. I have typedefs.gql file and I'm trying to add descriptions to the fields and arguments using docstrings as documented here: https://www.apollographql.com/docs/graphql-tools/generate-schema/#descriptions--deprecations
But the descriptions are not showing up.

[2019-10-02 19:58] tatianafrank opened #148 "TypeError: value.map is not a function when using string array type"
One of my parameters is of type [String] and when this parameter is used in the REST request (passed in the url query), sofa api throws this error: `TypeError: value.map is not a function` I tried this on version 0.3.0, 0.5.0, 0.5.1 and ran into this issue on all.

[2019-10-02 20:38] #148 closed

[2019-10-02 20:38] tatianafrank commented on #148
The issue was with how the array parameter was being passed in the URL.

[2019-10-03 05:07] swcarlosrj opened #150 "0.4 to 0.5 error - Cannot read property 'description' of undefined"
[code]

[2019-10-03 19:34] tatianafrank commented on #150
Im having the same issue after upgrading:
[code]

[2019-10-05 17:14] ZempTime commented on #101
I'm working on a base koa template right now, and this will be one of the things I check into. I'll post back with results!

[2019-10-06 12:40] eladkarakuli opened #153 "useSofa out of memory error"
running useSofa with a schema of about 55 mutations and quires and 25 types crashes nodejs with out of memory

usage:
[code]

[code]

[2019-10-10 08:09] dotansimha commented on #153
@kamilkisiela

[2019-10-10 09:45] kamilkisiela commented on #153
Could you share more details about the schema? I tried to reproduce it here #159

[2019-10-10 10:15] Jermorin commented on #150
Hi @kamilkisiela !

For information my error seems to be almost the same, I've tried your fix just pushed and still not working for me.

Version 0.4.0 working well

[code]

[2019-10-10 10:37] kamilkisiela commented on #150
@Jermorin could you share the schema or even a small reproduction?

[2019-10-10 11:17] eladkarakuli commented on #153
@kamilkisiela could I sent it to your mail kamil.kisiela@gmail.com ?

[2019-10-10 11:18] kamilkisiela commented on #153
@eladkarakuli of course :)

[2019-10-11 04:09] Jermorin commented on #150
Hi !

Yes of course : https://github.com/Jermorin/repro-sofa-issue

From : https://github.com/prisma/prisma-examples/tree/master/typescript/graphql-auth

🍺 Cheers

[2019-10-14 22:35] Urigo commented on #51
@Pruxis it would be awesome to get a contribution!

I feel like passing a config is the better option here but if you think differently I'm open for other implementations

[2019-10-22 05:10] ardatan commented on #101
@ZempTime I'm closing this issue right now. Feel free to open new one if you still have problem with Koa and Sofa :)

[2019-10-22 05:10] #101 closed

[2019-10-22 09:00] kamilkisiela commented on #150
#169 this one SHOULD fix it :) I tested it on your

[2019-10-23 17:03] tatianafrank commented on #150
@kamilkisiela I upgraded to 0.5.1 and I still have the same error as when using the rest endpoint.. `TypeError: Cannot read property 'map' of undefined`
The issue doesn't happen when using a graphql request, only rest.

[2019-10-23 20:33] ardatan commented on #150
@tatianafrank We haven't released the new version that has this fix yet :)

[2019-10-25 19:19] tatianafrank commented on #150
ok thanks

[2019-10-31 11:16] #150 closed

[2019-10-31 11:20] swcarlosrj commented on #150
thanks @kamilkisiela!

[2019-10-31 11:26] kamilkisiela commented on #146
v0.6.0

[2019-10-31 11:26] #146 closed

[2019-10-31 11:26] kamilkisiela commented on #147
v0.6.0

[2019-10-31 11:26] #147 closed

[2019-10-31 11:27] kamilkisiela commented on #150
v0.6.0

[2019-11-08 13:05] Elliot-Pitts opened #185 "Undefined/Null fields values"
https://github.com/Urigo/SOFA/blob/master/src/parse.ts#L20

This needs to change to &&, as it's not catching undefined/null fields that are then attempted to parse throwing an error.

[2019-11-08 15:46] Elliot-Pitts opened #186 "Parse fields recursively"
When an object is used in the request query, it's fields are not parsed into the correct GraphQL scalar type. This needs to be done recursively.

[2019-11-12 13:41] kamilkisiela commented on #186
Could you create an example?

[2019-11-21 18:30] ZempTime commented on #101
I haven't been able to get this working:
[code]
I'll definitely revisit this and try again later. For the situation I'm in, it ends up we're not gonna be able to graphql-first, so this will get another look later once it becomes the proper time to look into code generation as a whole.

[2019-11-22 23:12] dagnello opened #205 "Support for Apollo dataSources"
I have an Apollo Server configured with dataSources, are there any plans to support Apollo Data sources in Sofa, apart from the workaround captured here: https://github.com/Urigo/SOFA/issues/58 ?

[2019-11-28 10:55] German-lansweeper opened #207 "Url for call functions inside of a type seems not work"
When I have an structure like:

type Query {
    account(id: ID!): Account
  }

type Account {
    id: ID!
    action(id: ID!): Action
  }

The route built is:
     /account/:id/

When I call this endpoint:
     http://localhost:9229/rest/account/1/action/5

I receive as a result:
     TypeError: ID cannot represent value: undefined

[2019-12-05 20:35] John-Blaine-Jr opened #214 "Integrating SOFA with Apollo Federation"
I have a microservice API that is using SOFA and seems to be serving up data via REST just fine:
`
const { ApolloServer } = require('apollo-server-express');
const { buildFederatedSchema } = require('@apollo/federation');
const express = require('express');
const { useSofa } = require('sofa-api');

const { resolvers } = require('./schema/resolvers');
const { typeDefs } = require('./schema/typeDefs

[2019-12-05 23:49] ardatan commented on #214
Could you try the following?
[code]

[2019-12-06 17:33] John-Blaine-Jr commented on #214
I think you meant:
[code]

[2019-12-06 21:47] ardatan commented on #214
@John-Blaine-Jr I meant `execute` not `executor`.

[2019-12-10 10:26] ardatan commented on #214
@John-Blaine-Jr Any news?

[2019-12-13 17:02] John-Blaine-Jr commented on #214
@ardatan No, I tried using `execute` instead of `executor` and was getting an error instead of `null`. I'll send the error when I have some time later

[2019-12-17 15:20] Kennycheng35 opened #224 "Integrating Sofa with Postgraphile"
So, I believe @jnevin already messaged you before, but this is the problem we are currently facing.

We want to set up Sofa with a Postgraphile server. Postgraphile is a middleware that automatically generates a GraphQL schema from a Postgres database. So the end goal is to automatically create a GraphQL schema and query endpoint with automatically generated REST endpoints on top.

Here is a sampl

[2019-12-17 21:30] realies opened #226 "Integrating SOFA with a Sequelize GQL schema generator"
Attempting to use SOFA with https://github.com/almost-full-stack/sequelize-graphql-schema, although not getting parameter endpoints or query arguments from the schema it provides.

The following request replies as expected via GraphiQL
[code]

The following file-associated routes get generated for the REST API:
[code]

Although, accessing `GET /rest/file-get` replies with:
[code]

Accessing `GET /

[2019-12-18 00:24] ardatan commented on #226
@realies In first `GET` request, you need to provide `ID` in the URL like below;
`/rest/file-get/ID`
In the second one, the given JSON is not valid;
`{ "id": "zyx", "name": "test" }`
Keys are also needed to be between `"` in JSON.

[2019-12-18 00:38] ardatan commented on #224
SOFA needs to be passed `GraphQLSchema` and context if you need. So as I see in Postgraphile docs, you can get context using `withPostGraphileContext`.
https://www.graphile.org/postgraphile/usage-schema/

Could you please share more details such as what was the URL of the request, what was the request body?

[2019-12-18 09:51] realies commented on #226
@ardatan, thanks for the prompt reply. The `/rest/file-get/:id` path unfortunately does not exist.

`curl -X GET http://localhost/rest/file-get/xyz`
[code]

Using a valid JSON does not produce a much different result.

`curl -X POST http://localhost/rest/file-add -d '{ "id": "zyx", "name": "test" }'`
[code]

[2019-12-18 17:52] John-Blaine-Jr commented on #214
@ardatan Sorry for the wait, busy at work. Here is the error message I am receiving when I try to implement your suggestion using`execute`:
[code]

[2020-01-12 03:34] aerskine commented on #186
@kamilkisiela a query field type of an array of enums would suffice as an example. Sofa doesn't seem to handle enums to begin with (feature request!:)), but my debugger reveals:

[code]

the query in this case being:

[code]

and `AdminRole` an enum.

[2020-01-18 22:42] samsoft00 opened #250 "Integrating Sofa with NestJs (Typescript)"
I will like to integrate sofa-api with existing NestJs (Typescript) application, please how can this be achieved? look forward for the best approach.

[2020-01-29 12:49] Yehonal commented on #226
have you tried to use our new version? it's under feature/refactor branch.

We will move on master soon but you can already try it

[2020-02-04 10:38] abhijeet1403 opened #276 "Sofa API generating extra parameters for get calls"
For a typedefinition
![Screenshot from 2020-02-04 16-05-40](https://user-images.githubusercontent.com/16278759/73737274-5109f780-4768-11ea-8bc6-fb91b828bca6.png)
Sofa API generates
![Screenshot from 2020-02-04 16-03-19](https://user-images.githubusercontent.com/16278759/73737289-5cf5b980-4768-11ea-823d-7218b18363df.png)

[2020-02-04 15:46] seancwalsh opened #277 "Cannot use SOFA generated endpoint with Axios POST"
I am running into CORS issues when trying to make `POST` request from the client using Axios - `GET` requests work fine.

I have no problem when making request from Postman. Setting header to `"Content-Type": "application/json"`. Resolver is executed as expected and data is returned.

When trying to replicate request in Axios, this error is thrown:
![image](https://user-images.githubusercontent.co

[2020-02-04 15:51] ardatan commented on #277
This is not a SOFA-specific issue. SOFA is an express middleware that handles specific routes in specific HTTP methods.
So, you need to handle CORS by yourself in your express application.
https://expressjs.com/en/resources/middleware/cors.html

[2020-02-04 15:51] #277 closed

[2020-02-04 15:58] ardatan commented on #205
Apollo DataSource is an object that is instantiated during the GraphQL request, and put inside the context. So this is what you can do already by yourself easily. I'm not sure if this should be considered as a workaround, because Apollo's data sources are not standard of GraphQL.

[2020-02-04 15:58] #205 closed

[2020-02-05 15:35] seancwalsh commented on #277
My apologies - I wasn't sure the SOFA middleware was manipulating headers in some way.

[2020-02-06 18:53] Bran1304 commented on #185
Any info on when the release is coming out?

[2020-02-10 11:37] seancwalsh opened #279 "ID Scalar type appears as type object in Swagger"
When setting ID as input type, swagger generates object type, which is a little confusing when looking at the docs. Though, not a big problem.

![image](https://user-images.githubusercontent.com/39013096/74146757-7ab09c00-4c0a-11ea-8146-5d9476703492.png)

![image](https://user-images.githubusercontent.com/39013096/74146614-26a5b780-4c0a-11ea-8b01-42e8edecc578.png)

![image](https://user-images.git

[2020-02-10 12:58] seancwalsh commented on #279
Thanks @ardatan :)

[2020-02-12 15:15] kamilkisiela commented on #276
That's the intended behavior. I will explain it on an example:

[code]

https://codesandbox.io/s/pedantic-pasteur-pbfof?fontsize=14&hidenavigation=1&theme=dark

[2020-02-12 15:29] kamilkisiela opened #285 "Strategy for arguments of deeply nested types"
Current solution creates a memory leak #153

Related issues #276

[2020-02-12 15:29] kamilkisiela commented on #285
I will explain it on an example:

[code]

https://codesandbox.io/s/pedantic-pasteur-pbfof?fontsize=14&hidenavigation=1&theme=dark

Sofa creates a GraphQL operation for each field of Query, Mutation and Subscription types. An operation that fetches all possible data.

In same cases fields have arguments. The ones on the root field are obvious to resolve.
How to pass values to those arguments? Throu

[2020-02-12 15:31] kamilkisiela commented on #276
We've got a similar issue posted #153  so I will close this one in favor of #285

[2020-02-12 15:31] #276 closed

[2020-02-12 15:31] kamilkisiela commented on #153
Closing this one in favor of #285

[2020-02-12 15:31] #153 closed

[2020-02-12 15:55] kamilkisiela commented on #279
[`sofa-api@0.6.1`](https://github.com/Urigo/SOFA/releases/tag/v0.6.1)

[2020-02-12 15:55] #279 closed

[2020-02-12 15:56] kamilkisiela commented on #185
[`sofa-api@0.6.1`](https://github.com/Urigo/SOFA/releases/tag/v0.6.1)

[2020-02-12 15:56] #185 closed

[2020-02-23 22:17] reubano commented on #52
I'm using KeystoneJs and am getting the same error. The contexts that @kleydon provided don't help either.

[2020-02-28 08:26] minox86 opened #303 "Define depth for every type, optionally."
Types are often deep nested in GraphQL and in REST services we need to specify the depth of each resource, and not only a fixed depth for all.

Defining a depth only defining Models could be limiting, because sometimes a type shouldn't be exposed as a resource and needs to be loaded as nested type only on some types.

It would be great to have a way to define a max depth per Type, in a way like th

[2020-04-02 10:30] kamilkisiela commented on #303
I guess we could provide an API for it, like a callback that gets the Type, Document, Path and so on and then it lets you decide how deep you want to go. Probably with some helper functions.

Using a directive is fine but then you have to own the schema. We could provide both but I think the callback is fine.

[2020-04-02 10:38] minox86 commented on #303
I think that an helper function could be fine.

[2020-04-08 14:41] tatianafrank opened #355 "Open API Swagger docs"
Is there a way to add regular text to the swagger docs in addition to the automatically generated routes info? We want to add some general documentation/info to the page but not sure how.

[2020-04-12 12:59] yalishanyi opened #362 "how to generate OpenAPI (Swagger) ?"

[2020-04-12 13:12] ardatan commented on #362
See the documentation, if you have further questions please provide more details.
https://github.com/Urigo/SOFA#openapi-and-swagger

[2020-04-12 13:12] #362 closed

[2020-04-12 14:35] yalishanyi opened #363 "how to import many .graphql files?"

[2020-04-12 15:06] ardatan commented on #363
Please be more clear and give more details.

[2020-04-12 16:02] #363 closed

[2020-04-12 16:05] ardatan commented on #250
SOFA only needs a valid GraphQLSchema so when I take a look at NestJS docs to get the generated schema. I see that one;
https://docs.nestjs.com/graphql/quick-start#accessing-generated-schema
So you can use this with SOFA.

[2020-04-12 16:05] #250 closed

[2020-04-12 16:06] ardatan commented on #226
Feel free to open a new issue if the problem still persists.

[2020-04-12 16:06] #226 closed

[2020-04-12 16:09] ardatan commented on #224
Feel free to open a new issue if the problem still persists.

[2020-04-12 16:09] #224 closed

[2020-04-12 16:11] ardatan commented on #50
Feel free to open a new issue if you have further questions.

[2020-04-12 16:11] #50 closed

[2020-04-20 06:49] jozan commented on #355
If there is a way I would like to know as well. :)

[2020-04-20 10:52] kamilkisiela commented on #355
@tatianafrank @jozan

You can access OpenAPI / Swagger object like this:

[code]

and mutate the `HERE` object.

We could provide a way to add some data at `OpenAPI.addRoute` level if you prefer.

[2020-04-20 17:13] tatianafrank commented on #355
thanks!

[2020-04-20 17:13] #355 closed

[2020-05-11 10:17] wpchou commented on #250
There's a hint in NestJS docs:

SOFA is used as a middleware, which must be `app.use()` before `app.listen()`. So this might not be viable.

[2020-05-11 10:19] wpchou commented on #250
You may just read the compiled/generated graphql schema file.

[2020-05-13 20:27] Rykuno opened #404 "Error when using Rest DataSources"
When using Apollo Server's, sofa-api returns an error something along the lines of
`"{"message": "Cannot read property '<dataSource>' of undefined}".
`
I presume its because we only pass the executable schema to the sofa-api middleware. Whereas when initializing an apollo server we include the datasouces outside the executable schema
[code]

Is anyone privy to a way to get datasources working with

[2020-05-13 22:00] ardatan commented on #404
You can add datasources to the context manually.
[code]

[2020-05-18 18:12] Rykuno commented on #404
This works. Thanks!

[2020-05-18 22:08] ardatan commented on #404
@Rykuno Data sources are not part of GraphQL Spec and they are Apollo specific so you have to handle by yourself. Also see;
https://github.com/Urigo/SOFA/issues/214#issue-533584788

[2020-05-18 22:08] #404 closed

[2020-05-25 00:39] rigobcastro commented on #250
@wpchou How did you do that?

[2020-06-22 10:24] byteninja commented on #214
[code]
is the right code i think.
this works fine for me on queries, but fails for mutations where the variables should be parsed from the body. The variableValues are always an empty Object ({}) in this case and the mutation fails

[2020-07-06 04:31] awildeep opened #477 "OpenAPI does not have a way to document required headers"
I am currently using type-graphql and Sofa together, however when I attempt to run the OpenAPI doc, I can not seem to find a way to annotate that I need a given header on a request.  For example a JWT token requirement on an endpoint via the authorization header.

[2020-07-06 04:37] #477 closed

[2020-08-04 11:57] degarajesh opened #504 "Fetch schema from remote server"
how to use this sofa when graphql server is running in golang (gqlgen),

for the sofa we need to pass schema and resolvers.

Any pointers would help ?

[2020-08-05 14:26] degarajesh opened #507 "example to Execute Custom Endpoints"
Can you please share one example to Execute Custom Endpoints pointing to remote GraphqlService.

[2020-08-21 08:16] vanbujm commented on #504
I followed the guide here https://www.graphql-tools.com/docs/remote-schemas to create a remote executable schema, then gave that to sofa.

[2020-08-21 08:53] #504 closed

[2020-08-26 05:03] ardatan commented on #507
You can load a remote GraphQL API using this;
https://www.graphql-tools.com/docs/remote-schemas
And pass that remote schema to SOFA.

[2020-08-26 05:04] #507 closed

[2020-09-02 12:37] lghamie opened #538 "Using SOFA with Ariadne Graphql Server"
Hi! I have an Ariadne (python/schema-first) GraphQL Server. I have created the schema manually and imported it to sofa using readfile and     const schema = makeExecutableSchema({ typeDefs, resolvers }).

The problem I find with that is that I haven't found a way to automatically implement the resolvers to call my graphql server. Is that possible?  All the exmaples I found seem to be linked to apo

[2020-09-02 12:47] ardatan commented on #538
First of all, let me correct something SOFA isn't server specific library. It just takes your executable schema then serves it through your express server. So the input is not your server but your schema. That means it never requires a link to apollo server or something else.

Since you're using Python, the only way is to create a proxy GraphQL Schema that sends requests via HTTP or some other pro

[2020-09-06 11:23] #538 closed

[2020-09-06 11:24] ardatan commented on #538
Feel free to create an new issue if you have any questions and problems while implementing this.

[2020-09-14 18:43] johhansantana opened #548 "using sofa with @nexus/schema ?"
I'm using

[code]

but when I run I get a bunch of errors related to typescript:
![image](https://user-images.githubusercontent.com/9933887/93125153-b62bb100-f698-11ea-9670-36d73935cb45.png)

[2020-09-14 18:52] johhansantana commented on #548
nvm, was able to get it running with these scripts:

[code]

[2020-09-14 18:52] #548 closed

[2020-09-25 11:53] huboneo opened #560 "Support for Apollo Upload scalar"
Apollo server v2 supports file uploads as a multipart/form-data request using their Upload scalar https://www.apollographql.com/docs/apollo-server/data/file-uploads/

Right now Sofa seems to hardcode all POST content-types to `application/json`, could we change this to check for Upload scalar and if so use `multipart/form-data` content?

[2020-09-25 15:28] Urigo commented on #560
@huboneo sounds interesting!
Care to try to contribute it?
You can start with something simple and we could help you with it!

[2020-09-29 07:16] LRipi commented on #51
Any update about this feature ?

[2020-09-29 07:27] Urigo commented on #51
@LRipi we are still looking for a production use case we could test it out with and maybe even a contributor.
Are you able to provide one of those?

[2020-09-29 07:39] LRipi commented on #51
@Urigo I can make a basic repository with a use case!
I will make a repository and send you the link when it will be finished.

[2020-09-29 07:47] Urigo commented on #51
Thank you @LRipi !

[2020-09-29 08:47] LRipi commented on #51
@Urigo I made a quick example here -> https://github.com/LRipi/sofa-graphql

## Quick things to know

- This is an integration with GraphQL Nexus and Sofa (many thing could be scaled and optimize)
- The README.md details the content of the repository

## Things that could be awesome to have

- The other HTTP method (e.g. PUT, PATCH, DELETE)
- The route to use (see graphql/Post/Mutation and graphql

[2020-10-07 08:26] mannol opened #570 "[FEATURE REQUEST] Missing functionality to represent user scalars as swagger types"
I often use two scalars, `Email` and `URL` to represent, well, Email's and URL's in input as well as output types. When I use SOFA with openapi/swagger integration, these scalars show up as objects rather than their actual type, which is string. This is a very specific use case so I think SOFA should have an option for users to provide `scalar <-> type name` mapping when creating an openapi instan

[2020-10-07 08:51] ardatan commented on #570
@mannol That sounds great! Feel free to submit a PR and we will support you.

[2020-10-07 11:08] ezsper opened #571 "Relay support"
Sofa is very opinionated on what it considers a model, it's a good thing to consider the Relay Design Pattern for Node, we don't need to have a method to query for each model, we simply have a node method that query all types that implements the Node interface.

[code]

So my workaround while we SOFA doesn't support this officially is the following:

[code]

The only problema that still remains th

[2020-10-11 22:05] LRipi commented on #548
Just in case you want an example, I've made one here: https://github.com/LRipi/sofa-graphql

[2020-10-13 13:11] LRipi opened #576 "404 Not found on route that have optional parameters"
# Description

I just encounter a problem in my code when I tried to request on SOFA's route.

In my graphql schema, I've got this thing :
[code]
The `projectId` parameter is not required. It should return every projects if the `projectId` isn't set and return the specified project if the parameter exist. This flow is maintained by my resolver.

# Expected return

According to the documentation, i

[2020-10-13 13:24] LRipi commented on #51
@Urigo Any news about this feature?

[2020-10-14 07:51] hryer opened #577 "Bug Depedency on Example"
So, today I just clone your repo and want to take a deep dive about how it works and seeing the example but I got the error like that.

Error ScreenShot
![image](https://user-images.githubusercontent.com/12638095/95959493-bd2b1800-0e2c-11eb-995a-120ed57cbdf7.png)

So I just want to fix the example for this if you don't mind

Thank's

[2020-10-14 10:21] #577 closed

[2020-10-22 09:05] LRipi commented on #576
@Urigo Any news about this bug?

[2020-10-22 09:10] LRipi commented on #207
More informations on #576

[2020-11-01 03:54] ruicore commented on #477
have you solved it? I have the same question too.

[2020-11-04 13:24] basselalaraaj opened #608 "feat: customizing paths for more restful approach"
### GraphQL Schema
[code]
### Generated REST paths
[code]
### RESTful paths
[code]
### Example of possible implementation
[code]

[2020-11-09 16:14] LRipi opened #611 "Custom HTTP code"
Hi,

I've found a new possible feature to add to SOFA.
For example, when an user add a new data, the HTTP code should be `201`.
Another example, when an user delete a data, the HTTP code should be `204`.

Is that possible to implement these new features easily?

[2020-12-29 11:32] basselalaraaj commented on #608
@Urigo Any news about this feature request?

[2021-01-09 18:40] thewasta opened #666 "Integration with Type-Graphql"

[2021-01-09 18:48] thewasta commented on #666
Forgive I posted the issue without description.

I'm new with graphql and currently working with Type-Graphql and tried to integrate with sofa-api, but can't figure out
with type-graphql I use `await buildSchema({resolvers: [PingResolver]})` but this is not working with sofa-api, most of docs use makeExecutableSchema can't use it (I don't know how to use it, if I have a class PingResolver).

Anyon

[2021-01-09 23:46] ardatan commented on #666
@thewasta The schema TypeGraphQL gives you can be used with Sofa. Sofa only expects GraphQLSchema object so it doesn't matter how you create it.

[2021-01-10 01:03] thewasta commented on #576
Did you resolve it?

I'm trying this:

Type-GraphQL
[code]

Final GraphQL Schema

[code]

`http://localhost:3000/api/ping` works, but `http://localhost:3000/api/getallusers` doesn't

[2021-01-10 01:04] thewasta commented on #666
Thanks. I was doing wrong! 👍

[2021-01-10 01:04] #666 closed

[2021-01-15 17:30] waelsy123 opened #672 "Koa.js"
Is there any plan to support Koa.js? I couldn't get lucky to run that via koa-connect

[2021-01-21 13:02] renovate[bot] opened #678 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2021-01-21 14:25] #678 closed

[2021-01-29 12:20] LRipi commented on #608
@basselalaraaj He never answers on my message on Github's mentions nor twitter pm...

[2021-02-09 10:05] Leksat opened #690 "OpenAPI: support for union and interface types"
From the example schema:
[code]

The resulting OpenAPI type for `components.schemas.User.properties.favoriteFood` is currently
[code]

Wold be nice to turn it into
[code]
and do the same for GraphQL interfaces.

[2021-02-12 08:08] TrySound commented on #672
Hi @waelsy123. We just released new framework-agnostic api. You can try it with koa.
https://github.com/Urigo/SOFA#getting-started

[2021-02-12 08:23] TrySound commented on #608
Hi. We already have method customisation. @LRipi requested status customisation. We can provide something more universal like this
[code]

[2021-02-12 08:29] TrySound commented on #576
@LRipi Documentation says only about "id" field. Not some "projectId". See in the code only "id" name is considered
https://github.com/Urigo/SOFA/blob/master/src/express.ts#L206-L207.

You should use search params like this `/fetch-project?projectId=MyProjectId`

[2021-02-12 08:35] TrySound commented on #186
The problem was in nested `qs` params. Though we stepped away from them in favour of json params.

[2021-02-12 08:35] #186 closed

[2021-02-12 08:39] LRipi commented on #576
@TrySound I think we should be able to work with every path parameters.
If we make a request like this: `GET /rest/projects/:projectId/comments/:commentId`, you're not able to make `GET /rest/projects/:id/comments/:id`.
We can talk about it if you want 😄

[2021-02-12 08:42] TrySound commented on #576
I think it will just work with this suggestion. Anything custom parameter could be specified in custom paths.
https://github.com/Urigo/SOFA/issues/608#issuecomment-778051166

[2021-02-13 14:57] TrySound commented on #672
Will close for now. Feel free to ask if you face some problem.

[2021-02-13 14:57] #672 closed

[2021-02-22 08:45] natschoman commented on #148
I have the same issue.
Can I ask you how you solved it?
How has the array parameter be passed in the url?
Tried
[code]
All with no success :(

[2021-02-22 08:58] natschoman opened #711 "TypeError: value.map is not a function - on array arguments"
How to pass an array argument into the url parameters?
I always get
`TypeError: value.map is not a function`

For example with the following query
[code]

I tried

[code]

All with no success :(

[2021-02-22 13:26] TrySound commented on #711
I guess it was broken in the latest version. Will fix soon.

[2021-04-13 17:03] aboutandre commented on #250
I'm sorry that I'm asking this again (after a year).

I've been banging my head for the last week trying to figure out how to integrate SOFA with NestJS. I would love to see a boilerplate repo/example of this working.

The GraphQL playground is working, but the REST API never returns anything. If I go to the Swagger UI I can see all the definitions there, but if I execute a request I get no respon

[2021-04-13 22:50] ardatan commented on #250
SOFA is framework independent. You should give an executable schema that is used by NestJS to SOFA. I think the question should be how you can get the executable schema from NestJS to use with other tools.

[2021-04-14 09:21] aboutandre commented on #250
Thank you @ardatan for getting back to me and for the great package.

I managed to get it working after changing the initialization from the `main.ts` to the `app.module.ts` file inside a `onModuleInit()` method. For anyone looking for a reference about how to implement SOFA with NestJS here is the commit with the necessary setup:
https://github.com/aboutandre/nestjs-graphql-rest-poc/commit/4de754

[2021-04-18 13:13] Urigo commented on #250
@aboutandre thank you so much for the reference and solution!
do you think we should add it to our docs or just leave it like that for people to find?

[2021-05-19 09:49] kmensink95 commented on #608
How can I use this in my project?

[2021-05-19 12:10] #608 closed

[2021-05-20 08:23] kmensink95 commented on #608
Thank you for your help it works perfect! My last question I hope you have some time to help me. I want to have tags in my swagger.json file for every endpoint. Is there a way to generate this in my openAPI? I can't find anything in the documentation for this issue.

[2021-05-20 11:35] kmensink95 opened #763 "OpenApi Swagger tags generated (Grouping operation)"
**Is there a possibility to give tags to the endpoints?**

I would like the documentation to be neatly ordered and that not all endpoints are under the default heading. I don't want to write it myself, I want it to be automatically generated for my customers.

[2021-05-25 12:31] Yello001 commented on #711
Hi, any updates on that Issue?

[2021-06-04 13:21] mxcd opened #776 "REST API returning fully nested data structure"
I am facing a problem concerning the `depthLimit` setting:
I implemented an API template using Apollo GraphQL: https://github.com/mxcd/api-template
There I am using sofa like so:
https://github.com/mxcd/api-template/blob/master/src/index.ts#L25
[code]
The GraphQL application is deployed here: https://swapi.mxcd.de/graphql
Requesting a `film` via REST (https://swapi.mxcd.de/api/film/1), I get a hug

[2021-07-08 15:00] vemonet opened #797 "Integrate Sofa with NextJS routing"
Hi, we are trying to integrate SOFA within a NextJS based application (built with [SearchKit](https://github.com/searchkit/searchkit/tree/next/examples/next) and Apollo).

Unfortunately most examples are based on ExpressJS with `api.use( useSofa(...) )`

And I am missing some elements to properly understand and integrate the example provided in the README "with no dependency on frameworks, but als

[2021-07-22 09:27] clayrisser opened #802 "Support cache control extension"
It would be nice if this would support apollo cache control.

https://github.com/apollographql/apollo-cache-control

[2021-08-10 12:27] amenonts commented on #763
I recently used this framework to open up rest API endpoints on top of the graphQL and definitely felt this grouping option would be a big plus. Please do consider this enhancement.

[2021-08-10 12:29] amenonts commented on #711
Thanks for fixing this. When is the next release planned with fix for this.

[2021-08-10 19:08] ardatan commented on #763
We'd love to accept PRs if someone wants to work on this.

[2021-08-30 09:46] renovate[bot] opened #851 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

This repository currently has no open or pending branches.

---

- [ ] Check this box to trigger a request for Renovate to run again on this repository

[2021-09-06 23:54] hckhanh opened #863 "Cannot generate APIs from graphql-modules"
I cannot generate any api from graphql-modules's schema. Can you help me?
Only models are generated

[2021-09-10 07:37] Rudolf-LF commented on #776
I noticed this too.  Using Express server.

Tried:

`
app.use('/api', useSofa({
    basePath: '/api',
    schema,
    depthLimit: 1
}));
`
and

`
app.use('/api', useSofa({
    basePath: '/api',
    schema,
    depthLimit: 0
}));
`

also tried:

`
app.use('/api', useSofa({
    basePath: '/api',
    schema,
    ignore: ['Visit.business']
}));
`

but the nested data are still retrieved for the REST e

[2021-09-10 08:16] ardatan commented on #863
Sorry but we need a minimal reproduction. Could you create one on CodeSandbox?

[2021-10-13 08:44] ardatan commented on #863
Feel free to create a new issue with a reproduction. Closing this due to the lack of response

[2021-10-13 08:48] ardatan commented on #611
It is available with
https://github.com/Urigo/SOFA/commit/0d0ba52fa86668b6b388d25987416527c3fb70c7

[2022-01-21 12:09] dragma commented on #776
I have the same problem here.
Nested data types implies also nested required parameters for that data, like in @mxcd example in the url he provided https://swapi.mxcd.de/api/film/1.

It asks for
- filmSpeciesLimit
- filmSpeciesOffset
- filmSpeciesSpeciesHomeworldHomeworldResidentsLimit
- filmSpeciesSpeciesHomeworldHomeworldResidentsOffset
- filmSpeciesSpeciesHomeworldHomeworldResidentsResidentsSta

[2022-01-21 12:34] dragma commented on #285
Ok, I think I understand your point.

You are basically saying that generating a REST API from a graphQL schema is itself an anti-pattern.

Because, let's be serious, an endpoint with literally thousands of query variables is impossible to even concider or understand. And forget about displaying that with openAI/swagger.

Ex :
[code]

Displays:
[code]

My swagger literally breaks my browser with t

[2022-01-21 14:32] dragma opened #1003 "Can't query any ressource that have object as arguments"
Here is a part of my schema

[code]

here is the resolver of the tag Query

[code]

Based on this, there is the swagger view  of the generated rest endpoint :
![image](https://user-images.githubusercontent.com/4975026/150543664-08817f91-d6c1-4d8e-96bd-e7b3c97e562f.png)

Now when I hit that endpoint with `http://localhost:4100/api/tag?where[id]=1`, here is the print of the `where` argument :
![imag

[2022-01-26 00:55] kleydon opened #1007 "Ordering of query definitions changing Model vs. not Model determination?"
I'm encountering an issue where _the order in which queries are defined_ is determining whether or not a type (`Recording`, below) is correctly interpreted as a `Model` (so, just the `id` field included), vs. incorrectly interpreted (keeping all fields of nested `Recording` objects, not just the `id`).

I'm using Sofa (0.10.2), and constructing queries using `nexus-prisma` v0.35.0 (see below).

An

[2022-02-04 18:43] Yehonal commented on #776
Same here! any updates?

Fetching everything on huge graphql schema is overkilling (and causes circular dependencies sometime)

[2022-02-05 08:39] Yehonal commented on #776
For now I'm using the `graphql-tools` to remove nested fields. It's an hack but it does the job:

[code]

For now it guesses the nested objects via some "rules". However, combining graphql decorators to instruct SOFA on changing its behaviour could be a good idea imho

[2022-02-08 14:21] vemonet opened #1018 "Use Sofa API in a NextJS based website: incorrect resolution of never-asked-for Vue js libs"
Hi,

A few months ago we had an issue with SOFA trying to import Vue js dependencies that we never asked for, especially that we are using React: https://github.com/Urigo/SOFA/issues/797

According to the answer this is not a dependency anymore, but if I am trying to reinstall sofa-api in my NextJS project I am still getting the exact same error related to a vue dependency:

[code]

This is the ou

[2022-02-10 20:59] Rjgoolsby opened #1020 "OpenAPI not parsing Enums in Type Query"
The Sofa and Open API are not parsing Enums correctly. I've traced it down to the mapToPrimitive (https://github.com/Urigo/SOFA/blob/f52ba1d2ec1396920ef9fb81e0b1316432b04384/src/open-api/utils.ts#L1)  function. If you use something like a custom scalar or enum in your query such as this
[code]
Neither the enum or the scalar isn't parsed because the mapToPrimive only takes these values:
[code]

[2022-03-31 09:43] or-adar opened #1059 "dependencies of sofa-api is not aligned with sub-dependencies"
Hi,
I have a project that uses graphql package in version `0.13.x`.
This should be fine, as it alignes with the requirement of sofa-api which requires graphql as a peerDependency with the following constraints: `^0.13.2 || ^14.0.0 || ^15.0.0`,
however, sofa-api also requires `@graphql-tools/utils` as a dependency, which requires `^14.0.0 || ^15.0.0` for graphql as a peerDeependency. to sum it up t

[2022-04-01 13:22] guevarez30 opened #1060 "response object not passing to error handling function"
Sofa Configuration
[code]

Error:
[code]

[2022-04-04 20:21] dmattia opened #1063 "Vulnerability in axios version"
Axios version 0.21.2 or greater should be used to avoid the vulnerabilities mentioned in https://github.com/advisories/GHSA-cph5-m8f7-6c5x

If possible, using `^` on the axios version range would be appreciated

[2022-04-06 16:20] guevarez30 opened #1064 "Broken ANSI Color Import"
Line 7

index.mjs
[code]
Error:
[code]

Replaced with
[code]

[2022-04-06 16:22] ardatan commented on #1064
Would you create a PR for this change?

[2022-04-06 19:48] ramonsnir commented on #1063
@TrySound @ardatan You have Renovate enabled that actually dealt with this, but there wasn't a release in over a year so the dependency patches don't reach downstream.

[2022-04-07 12:00] ardatan commented on #1064
Fixed in 0.11.2

[2022-04-07 12:00] #1064 closed, assigned to nobody

[2022-04-07 12:00] ardatan commented on #1063
Fixed in 0.11.2

[2022-04-07 12:00] #1063 closed

[2022-05-25 15:35] Borduhh opened #1106 "Ignore Queries/Mutations"
We are contemplating using SOFA to generate an external REST API from our federated GraphQL API, but we want to be able to choose which queries/mutations we expose via the REST API. Is that possible with SOFA?

[2022-08-01 15:06] jgartor opened #1141 "Add descriptions for request parameters"
Hi,

I'm trying to generate description for request parameters (neither endpoints nor types, but request parameters). Description is generated properly on GraphQLSchema but we need to pull it out and write them to swagger.yml file. Any clues on how to do this?

[2022-08-02 05:49] jgartor commented on #1141
Nevermind, got it.
https://github.com/dataxquare/SOFA/commit/4656ae550e2f3560234af21f8c6e9cdaa9f160e8

[2022-08-02 05:49] #1141 closed

[2022-09-24 01:19] kleydon opened #1174 "After SOFA v0.12.0 upgrade, "Variable X of required type String! not provided" errors for multiple mutations"
After upgrading from Sofa v0.11.2 to v0.12.0, parameters provided in the body of my REST requests are no longer found/recognized by SOFA's auto-generated REST API. If I switch back to SOFA v0.11.2, my requests work again.

For example, my login request `http://localhost:2020/auto-rest/auth-login-by-phone`, made with the body: `{ "phone": "+12676146833" }` yields the error:

[code]

It doesn't matt

[2022-09-24 02:59] ardatan commented on #1174
Please share a **minimal and clear** reproduction on CodeSandbox or StackBlitz

[2022-09-24 05:50] izumin5210 opened #1175 "Since v0.12.0, README code and example servers now return plain text if the resolver throws an error"
## Describe the bug

### example in v0.11.2

[code]

### example in v0.12.0

[code]

## Expected behavior

One of the following should be achieved

- Error responses default to application/json
- The default is text/plain, but the documentation specifies how to return application/json.

[2022-09-24 06:29] izumin5210 commented on #1175
It was found that `errorHandler` option can reproduce the original behavior.

[code]

[code]

[2022-09-24 06:34] izumin5210 commented on #1175
I found the documentation for errorHandler, but the content was incorrect 👀
https://www.the-guild.dev/graphql/sofa-api/docs/api/error-handler

[2022-09-24 06:40] izumin5210 commented on #1175
The current behavior where text/plain is returned by default seems incorrect, since the above document states the following

[2022-09-24 22:13] kleydon commented on #1174
Hi @ardatan,

I've just posted a minimal and clear reproduction on GitHub [here](https://github.com/kleydon/SOFA-issue-1174-repro), and a slightly modified version on CodeSandbox [here](https://codesandbox.io/s/headless-wave-z1ujsl). The README describes how to reproduce the issue.

If any additional info would be useful, please let me know.

[2022-11-06 16:51] MejanH commented on #1174
Yes, I am also facing this issue. made sure the `body-parser` is working. but still the same issue. it's working with only url params.

[2022-11-11 22:23] currentoor commented on #1106
Ditto